.wrapper {
  position: relative;
}

.btn-back {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 100px;
  height: 45px;
  background: blue;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
